In [ ]:
print("Hello Wolrd");

x=10;y=20;z=x+y;
print(z)

Hello Wolrd
30

Semantics

In [ ]:
##Variable Assignments
age=32
name="Kris"
##kernel will understand the data type in runtime
print(age)
print(name)

32
Kris

Type Inference

In [ ]:
type(age)
##age="vinod"
print(type(age))
if(age>32):
    print(age)

<class 'int'>

In [ ]:
## Code examples of Indentation
if True:
    print("Correct Indendation-->");
    if False:
        print("This is print")
    print("if print")
print("gg")

Correct Indendation-->
if print
gg

In [ ]:
## Declare and assigning variables
age=32
height=6.1
name="Krish"
is_student=True

## Printing the variables.

print("age :",age)
print("Heaight :",height)
print("name :",name)

age : 32
Heaight : 6.1
name : Krish

In [ ]:
## Naming Convestions
## Variables--> Should be descriptive, they must start with letter or underscore and letters and numbers
## variable names of case sensitives
first_name="Krishn"
_lastName="Dev"

In [ ]:
## Understanding of Variable types
##Python is dynamically types, type if varibale is determined at runtime.

age=25
height=11.2
name="krishn"
is_student=True
print(type(height))

<class 'float'>

In [ ]:
##Type checking and conversions
type(height)## Float
type(str(height))# str
age='23'
type(age)
type(int(age))
type(is_student)

bool

In [ ]:
##Dynmic typing
##python allows the type of a variable as the program executes

var=10
print(var,type(var))
var="vinod"
print(var,type(var))
var=12.3
print(var,type(var))

##Input
age=input("what is your age-->")
print(2024-int(age))## usually the input comes as str format

10 <class 'int'>
vinod <class 'str'>
12.3 <class 'float'>

ValueError: invalid literal for int() with base 10: ''

In [ ]:
## Simple calculator
num1=float(input("Enter first numebr: "))
num2=float(input("Enter second numebr: "))
sum=num1+num2
difference=num1-num2
product=num1*num2;
quotient=num1/num2;
print("Sum-->",sum)
print("Difference-->",difference)
print("Product-->",product)
print("Quotient-->",quotient)

Sum--> 90.0
Difference--> 60.0
Product--> 1125.0
Quotient--> 5.0

In [ ]:
## Data Types==
##Intergersn Examples
age=25
type(age)
bool()


## Common errors
result="Hello "
print(result.upper())

HELLO

In [ ]:
## Operators

a=10
b=5


add_result=a+b
sub_result=a-b
mult_result=a*b
div_result=a/b ## Division Operation
floor_div_result=a//b##Floor division
modulus_result=a%b ## Modulus operation
exponent_result=a**b## Exponentiation


print(add_result);
print(sub_result);
print(mult_result);
print(div_result);
print(floor_div_result);
print(modulus_result);
print(exponent_result);

15
5
50
2.0
2
0
100000

True

In [ ]:
## Comparison Operator

a=10
b=10

a==b

str1="Krish"
str2="KriSh"

X=False
not X
print(not X)

True

In [ ]:
##If statement

age=20

if age>=20:
    print("allowed-->")
## Else


age =16

if age>=18:
    print("ypu are elgible for vote")
else:
    print("you are a minor")



##elif ==> else if allows to check mutliple conditions

age=int(input("enter your age"))
if age<13:
    print("you are a child-->")
elif age<18:
    print("you are a tenager -->")
else:
    print("you are an adult")


## Nested conditional statments
## You can place one or more elif or if statmenbts in if or elif or else statements

## number even or odd or negitive

num=int(input("enter the number"))

if num>=0:
    print("The numebr is positive ")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is Odd number")
else:
    print("the number is negitive")

allowed-->
you are a minor
you are an adult
the number is negitive

In [ ]:
## Practical Examples
## determine , if a year is leap or not using nesteed

## logic if a year divisable by 400 and should not be divisaible by 100 and divisible by 4then leap year

input_year=int(input("please enter the  year"))

if input_year%400==0:
    print("It's a leap year")
elif input_year%4==0 and input_year%100!=0:
    print("It's a leap year")
else:
    print("It's not an  leap year")

It's not an  leap year

In [ ]:
##SImple Calculator

num1=int(input("Please enter the first number"))
num2=int(input("enter the second number"))
operation=str(input("Please select the operation + , -, *, / or %"))

if operation=='+':
    print(num1+num2)
elif operation=='-':
    print(num1-num2)
elif operation=='*':
    print(num1*num2)
elif operation=='/':
    print(num1/num2)
elif operation=='%':
    print(num1%num2)
else:
    print("Please select a valid operator")

5.0

In [ ]:

##While Loop

count=0;
while count<=5:
    print("The count values-->",count)
    count+=1;

The count values--> 0
The count values--> 1
The count values--> 2
The count values--> 3
The count values--> 4
The count values--> 5

In [ ]:
##Loop Control Statements

##Break-> The break statement exits the loop permaturely.

for i in range(10):
    if i==5:
        break
    print(i)

print("====================")

## Continue
## The continues stattements skips the currecnt iteration and continues with next .
for i in range(10):
    if i%2==0:
        continue
    print(i)


print("--------------PASS-----------")
##PAss
## Pass statement is a null operation, it does nothing
sum=0
while sum<=10:
    if(sum%2==0):
        pass
    print(sum)
    sum+=1

0
1
2
3
4
====================
1
3
5
7
9
--------------PASS-----------
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
##Nested Loops

for i in range(3):
    for j in range(2):
        print(f"I value is : {i} and J value is {j}")

I value is : 0 and J value is 0
I value is : 0 and J value is 1
I value is : 1 and J value is 0
I value is : 1 and J value is 1
I value is : 2 and J value is 0
I value is : 2 and J value is 1

In [ ]:
## Exmaples -- Calculate the sum of N natural numbert usiong while and for loop

N=int(input("please enter the number to get the sum"))
sum=0;
while N>=0:
    sum+=N
    N-=1

print("Natural numbers sum--->",sum)

## are else we can directly have formual N*(N+1)/2


num=int(input("please enter the number to get the sum"))

sum=0
for i in range(num+1):
    sum+=i
    num-=1

print("Natural numbers sum--->",sum)

Natural numbers sum---> 55
Natural numbers sum---> 55

In [ ]:
## Example Prime numbers between 1 to 100

number=0
for i in range(1,101):
    if(i==1 or i==2):
        print(i)
    if i>2:
        for j in range(2,i):

            if i%j==0:
                break
        else:
                print("Prime numbers are : ",i)

1
2
Prime numbers are :  3
Prime numbers are :  5
Prime numbers are :  7
Prime numbers are :  11
Prime numbers are :  13
Prime numbers are :  17
Prime numbers are :  19
Prime numbers are :  23
Prime numbers are :  29
Prime numbers are :  31
Prime numbers are :  37
Prime numbers are :  41
Prime numbers are :  43
Prime numbers are :  47
Prime numbers are :  53
Prime numbers are :  59
Prime numbers are :  61
Prime numbers are :  67
Prime numbers are :  71
Prime numbers are :  73
Prime numbers are :  79
Prime numbers are :  83
Prime numbers are :  89
Prime numbers are :  97

In [ ]:
## List

lst=[]
print(type(lst))

names=["vinod","kumar","97045635",98]
print(names)
print(names[1:-1])

## Modift the list elements

fruits=["banana","apple","cherry","orange","mango"]
##fruits="Test"
print(fruits)

fruits.append("watremelon")## adding at the end of the list
fruits.insert(1,"grapes")## addding at the 1st index
fruits.remove("watremelon")## removing the element by name

print(fruits)

popep_frt=fruits.pop();##removed the last elemet and return the removed elemenmt

print(popep_frt)
print(fruits)

index=fruits.index("cherry")## give the index  value

fruits.insert(index,"cherry")

print(index)
print(fruits.count("cherry"))## Coun the cherry elemts

fruits.sort()## sort the list asscending
print(f"Sorted List :--->{fruits}")

fruits.reverse()##reverse the list
print(f"Reversed List :--->{fruits}")

print("----------------------------------\n")
##slicing List

numbers=[1, 2 ,3 ,4 ,5, 6 ,7 ,8 ,9]

print(numbers[2:5])## 2to 5 elemts

print(numbers[:5])## start to 5 index (5-1 /e )
print(numbers[5:])
print(numbers[::2]) ## step size
print(numbers[::-1])

'''
print(numbers[2:5])
print(numbers[2:5])
print(numbers[2:5])
'''
## iterating over the list
for fruit in fruits:
  print(f"the fruit name is : {fruit}")
for num in numbers:
  print(num)

## iterate the list with index
for index, number in enumerate(numbers):
  print(f"The index of {number} is {index}")

## List comprehension
lst=[]
for x in range(10):
  lst.append(x**2)

print(lst)

print("-------------List Comprehension -------------")

lstCm=[ x**2 for x in range(10)]
print(lstCm)
## List comprehension
## Basics syantax  [expresssion for item in iterable]
##with condition [expression for item in iterable if condition]

## basic list comprehension

square=[num**2  for num in range(10)]
print(f"Suare root of the numbers : {square}")

## print even numbers 1-100

even=[x for x in range(100) if x%2==0]

print(f"The even numbers numbers : {even}")



## Nested List Comprehension

print("----------Nested list comprehension ------------")

lst1=[1,2,3,4,5,6]
lst2=['a','b','c','d','e','f']

mergelst=[[i,j] for i in lst1 for j in lst2]

print(mergelst)

## List comprehension with functions calls

words =['hello','world', 'pythion', 'list','comprehension']
length=[len(word) for word in words]
print(length)

## List comprehension with if and else block

#doub the number if it is even or else keep same

evenDoubt=[x**2 if x%2==0 else x for x in range(10)]

print(f"The even numbers numbers doiubled  : {evenDoubt}")

<class 'list'>
['vinod', 'kumar', '97045635', 98]
['kumar', '97045635']
['banana', 'apple', 'cherry', 'orange', 'mango']
['banana', 'grapes', 'apple', 'cherry', 'orange', 'mango']
mango
['banana', 'grapes', 'apple', 'cherry', 'orange']
3
2
Sorted List :--->['apple', 'banana', 'cherry', 'cherry', 'grapes', 'orange']
Reversed List :--->['orange', 'grapes', 'cherry', 'cherry', 'banana', 'apple']
----------------------------------

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
the fruit name is : orange
the fruit name is : grapes
the fruit name is : cherry
the fruit name is : cherry
the fruit name is : banana
the fruit name is : apple
1
2
3
4
5
6
7
8
9
The index of 1 is 0
The index of 2 is 1
The index of 3 is 2
The index of 4 is 3
The index of 5 is 4
The index of 6 is 5
The index of 7 is 6
The index of 8 is 7
The index of 9 is 8
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
-------------List Comprehension -------------
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Suare root of the numbers : [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
The even numbers numbers : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
----------Nested list comprehension ------------
[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [1, 'f'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [2, 'f'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [3, 'f'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [4, 'f'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e'], [5, 'f'], [6, 'a'], [6, 'b'], [6, 'c'], [6, 'd'], [6, 'e'], [6, 'f']]
[5, 5, 7, 4, 13]
The even numbers numbers doiubled  : [0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

In [ ]:
## SET

## You can create aset with {}  with values
my_set={1,2,3,4,5,6,6,5,7,8,8,9}
##Note: if you add duplicate values then it will take but whne you iterate the value or count the size set will ignore the duplicates
#ex: print the size
print(len(my_set))## size: 9

## create a Ste through constructior. with help of List or tupple
lst=[1,2,3,4,5,6,6,5,7,8,8,9]
my_set=set(lst)
print(len(my_set))## size: 9
print(my_set)##ignored duplicate elements

## Basics Operations Add or remove
my_emptSet=set();
for i in range(20):
  ##Add
  my_emptSet.add(i)

print(f"After adding the elements {my_emptSet}")
##Remove
my_emptSet.remove(17)
print(f"After remove the 17 element {my_emptSet}")

##trying to delete the element which is not in the Set
"""
KeyError                                  Traceback (most recent call last)
<ipython-input-20-b7e1d2035dde> in <cell line: 28>()
##my_emptSet.remove(27)
"""
## to avoid these kind of errors wwe use discorx methoid whihc iw;; delete the element if it exist or elsed dicord
my_emptSet.discard(27)
print(f"After remove the 17 element {my_emptSet}")

##Pop method
## remove the random element means first element from the Set

po1=my_emptSet.pop()
po2=my_emptSet.pop()
po3=my_emptSet.pop()
print("\n")
print(f"Pop 1 element {po1}")
print(f"Pop 2 element {po2}")
print(f"Pop 3 element {po3}")

##Clear the all the elemets

my_emptSet.clear()

print(len(my_emptSet))


##Set membership set

my_emptSet=set();
my_emptSet1=set();
for i in range(20):
  ##Add
  my_emptSet.add(i)

##Check the element is exit or not

for i in range(10,50,5):
    ##Add
    if(i in my_emptSet):
      my_emptSet1.add(i)
    else:
        my_emptSet.add(i)

print(my_emptSet)


print(my_emptSet1)

## Mathematical Operation

## Union

union_set=my_emptSet.union(my_emptSet1)

print(f"Union Set -->{union_set}")

##Intersection

intersection_set=my_emptSet.intersection(my_emptSet1)

print(f"Intercetion Set -->{intersection_set}")
print(type(intersection_set))
"""
 Note: Intersetion_update--> will keep the common elements and modify the original set
in our example Insertion method not changing the vbalues , instead returning the comon elemnst as new set
"""

## Differennce

diff_set=my_emptSet1.difference(my_emptSet)

print(my_emptSet)

print(my_emptSet1)
"""
Note:ste1.diff(set2)
so we are subtracting elemenst from set1 and returning the set1 not common elements, if it's therte
ex: set1= 1,2,3,4,5,6
set2 4,5,6,7,8,9
then set1.diff(set2)--> 1,2,3 only bcz 4,5,6 elements discordeer
if set2.diff(set1) then result is 7,8,9 bcz 4,5,6, are common so dicord
********* No change in original Sets *************************
"""
print(f"Difference Set -->{diff_set}")

## Symetric Diffrence

"""

Note: Common elements removed and return the by combiningthe  reminaing elements
ex: set1= 1,2,3,4,5,6
set2 4,5,6,7,8,9
then set1.diff(set2)--> 1,2,3,7,8,9 only bcz 4,5,6 elements discordeer
Henec, Apply the intersection (remove comon elements and then make union )
"""

symmetric_set=my_emptSet1.symmetric_difference(my_emptSet)

print(f"Symetric  Set -->{symmetric_set}")



print("\n")
print("## Set methods")
## Set methods
set1={3,2,1}
set2={1,2,3,4,5}

## is subest

print(set1.issubset(set2))## order is not  mandatory

print(set1.issuperset(set2))

9
9
{1, 2, 3, 4, 5, 6, 7, 8, 9}
After adding the elements {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
After remove the 17 element {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19}
After remove the 17 element {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19}


Pop 1 element 0
Pop 2 element 1
Pop 3 element 2
0
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45}
{10, 15}
Union Set -->{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45}
Intercetion Set -->{10, 15}
<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45}
{10, 15}
Difference Set -->set()
Symetric  Set -->{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45}


## Set methods
True
False

In [ ]:
### Counting unique words in text

text= " in thos tutorial we are discussion about sets"
words=text.split();
## converst list of words into Set

unique_word=set(words)
print(f"The unique words--->{unique_word}")

print(f"The count of the unique words==>{len(unique_word)}")

The unique words--->{'discussion', 'we', 'are', 'sets', 'thos', 'tutorial', 'in', 'about'}
The count of the unique words==>8

In [38]:
## Dictionaries
"""
Dictionaries are unordered collections of items. They store data in key-value pairs.
keys must be unique and immutable (Eg. Strings, numbers or tupples) while values can be any type

"""


##Creating an empty disctonary
empty_dict={}
print(type(empty_dict))
empty_dict=dict()
print(type(empty_dict))

student={
    "name": "Krishn",
    "age" : "35",
    "Phone ": 9875646,
    'grade' : 3,
    1:"hE IS ONE",
    1:"hE IS ONE1"
}

print(student)

## eRROR--> Single key is always use instead of multiple

## Accessing dictonary elements
graed=student['grade']
print(graed)
##Access using get method  provided by disctionary
phone=student.get("Phone","Not Available")## If key is not there then next statement will print
print(phone)

## Modify the disctionary elements
## Dictionary are mutable, so you can add , upadte or delete elements
print(student)

# adding new key
student['Address']="Hyderabad"
print(f"After adding new key: {student}")

## update

student[1]="First Grade"
print(f"After update the  key: {student}")

del student[1]
print(f"After delete the  key: {student}")

## Dictionary methods

keys=student.keys()
print(f"The keys from Studnet Dic: {keys}")

values=student.values();

print(f"The values from Studnet Dic: {values}")

for i in keys:
  print(f" The is : {i} and the value is {student.get(i)}")


items=student.items()# get the all key-value pairs

print(f" All the items {items}")

print("\n  Shallow copy section \n")

## Shallow copy

student_copy=student## COpying the dictonary

print(student_copy)

student["Section"]="B"

print(student_copy)

print(student)

## In normal copy, if we change the original disctionary
## then the respectuve dictionay alwo getting changed

stundet_copy1=student.copy()## Wil create a separet memeory and it's not impacting on the exiting dict

print(stundet_copy1)

print(student)

student["Branch"]="CSE"

print(stundet_copy1)

print(student)

print(type(stundet_copy1))

## Iterate the Dic

for key,val in student.items():
  print(f" The Key is : {key} and the value is:  {val}")



## Nested Dictionaries

students={
    "student1": {
        "name": "Krishn",
        "age": 32,
        "place": "Hyd"
    },
    "student2": {
        "name": "Peter",
        "age": 35,
        "place": "Delhi"
    }
}

print("Nested loop of Dictionary \n")

##Iterate the nested Dic

for student_id, Stud_info in students.items():
  print(f" The Studnet ID : {student_id}")
  for key, val in Stud_info.items():
      print(f" Key : {key} and the value is : {val}")

<class 'dict'>
<class 'dict'>
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 1: 'hE IS ONE1'}
3
Not Available
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 1: 'hE IS ONE1'}
After adding new key: {'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 1: 'hE IS ONE1', 'Address': 'Hyderabad'}
After update the  key: {'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 1: 'First Grade', 'Address': 'Hyderabad'}
After delete the  key: {'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad'}
The keys from Studnet Dic: dict_keys(['name', 'age', 'Phone ', 'grade', 'Address'])
The values from Studnet Dic: dict_values(['Krishn', '35', 9875646, 3, 'Hyderabad'])
 The is : name and the value is Krishn
 The is : age and the value is 35
 The is : Phone  and the value is 9875646
 The is : grade and the value is 3
 The is : Address and the value is Hyderabad
 All the items dict_items([('name', 'Krishn'), ('age', '35'), ('Phone ', 9875646), ('grade', 3), ('Address', 'Hyderabad')])

  Shallow copy section

{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B', 'Branch': 'CSE'}
<class 'dict'>
 The Key is : name and the value is:  Krishn
 The Key is : age and the value is:  35
 The Key is : Phone  and the value is:  9875646
 The Key is : grade and the value is:  3
 The Key is : Address and the value is:  Hyderabad
 The Key is : Section and the value is:  B
 The Key is : Branch and the value is:  CSE
Nested loop of Dictionary

 The Studnet ID : student1
 Key : name and the value is : Krishn
 Key : age and the value is : 32
 Key : place and the value is : Hyd
 The Studnet ID : student2
 Key : name and the value is : Peter
 Key : age and the value is : 35
 Key : place and the value is : Delhi