In [1]:
print("Hello Wolrd");

x=10;y=20;z=x+y;
print(z)

Hello Wolrd
30

Semantics

In [2]:
##Variable Assignments
age=32
name="Kris"
##kernel will understand the data type in runtime
print(age)
print(name)

32
Kris

Type Inference

In [3]:
type(age)
##age="vinod"
print(type(age))
if(age>32):
    print(age)

<class 'int'>

In [4]:
## Code examples of Indentation
if True:
    print("Correct Indendation-->");
    if False:
        print("This is print")
    print("if print")
print("gg")

Correct Indendation-->
if print
gg

In [5]:
## Declare and assigning variables
age=32
height=6.1
name="Krish"
is_student=True

## Printing the variables.

print("age :",age)
print("Heaight :",height)
print("name :",name)

age : 32
Heaight : 6.1
name : Krish

In [6]:
## Naming Convestions
## Variables--> Should be descriptive, they must start with letter or underscore and letters and numbers
## variable names of case sensitives
first_name="Krishn"
_lastName="Dev"

In [7]:
## Understanding of Variable types
##Python is dynamically types, type if varibale is determined at runtime.

age=25
height=11.2
name="krishn"
is_student=True
print(type(height))

<class 'float'>

In [8]:
##Type checking and conversions
type(height)## Float
type(str(height))# str
age='23'
type(age)
type(int(age))
type(is_student)

bool

In [9]:
##Dynmic typing
##python allows the type of a variable as the program executes

var=10
print(var,type(var))
var="vinod"
print(var,type(var))
var=12.3
print(var,type(var))

##Input
age=input("what is your age-->")
print(2024-int(age))## usually the input comes as str format

10 <class 'int'>
vinod <class 'str'>
12.3 <class 'float'>
1999

In [10]:
## Simple calculator
num1=float(input("Enter first numebr: "))
num2=float(input("Enter second numebr: "))
sum=num1+num2
difference=num1-num2
product=num1*num2;
quotient=num1/num2;
print("Sum-->",sum)
print("Difference-->",difference)
print("Product-->",product)
print("Quotient-->",quotient)

Sum--> 24.0
Difference--> 0.0
Product--> 144.0
Quotient--> 1.0

In [11]:
## Data Types==
##Intergersn Examples
age=25
type(age)
bool()


## Common errors
result="Hello "
print(result.upper())

HELLO

In [12]:
## Operators

a=10
b=5


add_result=a+b
sub_result=a-b
mult_result=a*b
div_result=a/b ## Division Operation
floor_div_result=a//b##Floor division
modulus_result=a%b ## Modulus operation
exponent_result=a**b## Exponentiation


print(add_result);
print(sub_result);
print(mult_result);
print(div_result);
print(floor_div_result);
print(modulus_result);
print(exponent_result);

15
5
50
2.0
2
0
100000

In [13]:
## Comparison Operator

a=10
b=10

a==b

str1="Krish"
str2="KriSh"

X=False
not X
print(not X)

True

In [14]:
##If statement

age=20

if age>=20:
    print("allowed-->")
## Else


age =16

if age>=18:
    print("ypu are elgible for vote")
else:
    print("you are a minor")



##elif ==> else if allows to check mutliple conditions

age=int(input("enter your age"))
if age<13:
    print("you are a child-->")
elif age<18:
    print("you are a tenager -->")
else:
    print("you are an adult")


## Nested conditional statments
## You can place one or more elif or if statmenbts in if or elif or else statements

## number even or odd or negitive

num=int(input("enter the number"))

if num>=0:
    print("The numebr is positive ")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is Odd number")
else:
    print("the number is negitive")

allowed-->
you are a minor
you are a child-->
The numebr is positive
The number is even

In [15]:
## Practical Examples
## determine , if a year is leap or not using nesteed

## logic if a year divisable by 400 and should not be divisaible by 100 and divisible by 4then leap year

input_year=int(input("please enter the  year"))

if input_year%400==0:
    print("It's a leap year")
elif input_year%4==0 and input_year%100!=0:
    print("It's a leap year")
else:
    print("It's not an  leap year")

It's a leap year

In [16]:
##SImple Calculator

num1=int(input("Please enter the first number"))
num2=int(input("enter the second number"))
operation=str(input("Please select the operation + , -, *, / or %"))

if operation=='+':
    print(num1+num2)
elif operation=='-':
    print(num1-num2)
elif operation=='*':
    print(num1*num2)
elif operation=='/':
    print(num1/num2)
elif operation=='%':
    print(num1%num2)
else:
    print("Please select a valid operator")

24

In [17]:

##While Loop

count=0;
while count<=5:
    print("The count values-->",count)
    count+=1;

The count values--> 0
The count values--> 1
The count values--> 2
The count values--> 3
The count values--> 4
The count values--> 5

In [18]:
##Loop Control Statements

##Break-> The break statement exits the loop permaturely.

for i in range(10):
    if i==5:
        break
    print(i)

print("====================")

## Continue
## The continues stattements skips the currecnt iteration and continues with next .
for i in range(10):
    if i%2==0:
        continue
    print(i)


print("--------------PASS-----------")
##PAss
## Pass statement is a null operation, it does nothing
sum=0
while sum<=10:
    if(sum%2==0):
        pass
    print(sum)
    sum+=1

0
1
2
3
4
====================
1
3
5
7
9
--------------PASS-----------
0
1
2
3
4
5
6
7
8
9
10

In [19]:
##Nested Loops

for i in range(3):
    for j in range(2):
        print(f"I value is : {i} and J value is {j}")

I value is : 0 and J value is 0
I value is : 0 and J value is 1
I value is : 1 and J value is 0
I value is : 1 and J value is 1
I value is : 2 and J value is 0
I value is : 2 and J value is 1

In [20]:
## Exmaples -- Calculate the sum of N natural numbert usiong while and for loop

N=int(input("please enter the number to get the sum"))
sum=0;
while N>=0:
    sum+=N
    N-=1

print("Natural numbers sum--->",sum)

## are else we can directly have formual N*(N+1)/2


num=int(input("please enter the number to get the sum"))

sum=0
for i in range(num+1):
    sum+=i
    num-=1

print("Natural numbers sum--->",sum)

Natural numbers sum---> 55
Natural numbers sum---> 55

In [21]:
## Example Prime numbers between 1 to 100

number=0
for i in range(1,101):
    if(i==1 or i==2):
        print(i)
    if i>2:
        for j in range(2,i):

            if i%j==0:
                break
        else:
                print("Prime numbers are : ",i)

1
2
Prime numbers are :  3
Prime numbers are :  5
Prime numbers are :  7
Prime numbers are :  11
Prime numbers are :  13
Prime numbers are :  17
Prime numbers are :  19
Prime numbers are :  23
Prime numbers are :  29
Prime numbers are :  31
Prime numbers are :  37
Prime numbers are :  41
Prime numbers are :  43
Prime numbers are :  47
Prime numbers are :  53
Prime numbers are :  59
Prime numbers are :  61
Prime numbers are :  67
Prime numbers are :  71
Prime numbers are :  73
Prime numbers are :  79
Prime numbers are :  83
Prime numbers are :  89
Prime numbers are :  97

### **This is all about List Data structure **

In [22]:
## List

lst=[]
print(type(lst))

names=["vinod","kumar","97045635",98]
print(names)
print(names[1:-1])

## Modift the list elements

fruits=["banana","apple","cherry","orange","mango"]
##fruits="Test"
print(fruits)

fruits.append("watremelon")## adding at the end of the list
fruits.insert(1,"grapes")## addding at the 1st index
fruits.remove("watremelon")## removing the element by name

print(fruits)

popep_frt=fruits.pop();##removed the last elemet and return the removed elemenmt

print(popep_frt)
print(fruits)

index=fruits.index("cherry")## give the index  value

fruits.insert(index,"cherry")

print(index)
print(fruits.count("cherry"))## Coun the cherry elemts

fruits.sort()## sort the list asscending
print(f"Sorted List :--->{fruits}")

fruits.reverse()##reverse the list
print(f"Reversed List :--->{fruits}")

print("----------------------------------\n")
##slicing List

numbers=[1, 2 ,3 ,4 ,5, 6 ,7 ,8 ,9]

print(numbers[2:5])## 2to 5 elemts

print(numbers[:5])## start to 5 index (5-1 /e )
print(numbers[5:])
print(numbers[::2]) ## step size
print(numbers[::-1])

'''
print(numbers[2:5])
print(numbers[2:5])
print(numbers[2:5])
'''
## iterating over the list
for fruit in fruits:
  print(f"the fruit name is : {fruit}")
for num in numbers:
  print(num)

## iterate the list with index
for index, number in enumerate(numbers):
  print(f"The index of {number} is {index}")

## List comprehension
lst=[]
for x in range(10):
  lst.append(x**2)

print(lst)

print("-------------List Comprehension -------------")

lstCm=[ x**2 for x in range(10)]
print(lstCm)
## List comprehension
## Basics syantax  [expresssion for item in iterable]
##with condition [expression for item in iterable if condition]

## basic list comprehension

square=[num**2  for num in range(10)]
print(f"Suare root of the numbers : {square}")

## print even numbers 1-100

even=[x for x in range(100) if x%2==0]

print(f"The even numbers numbers : {even}")



## Nested List Comprehension

print("----------Nested list comprehension ------------")

lst1=[1,2,3,4,5,6]
lst2=['a','b','c','d','e','f']

mergelst=[[i,j] for i in lst1 for j in lst2]

print(mergelst)

## List comprehension with functions calls

words =['hello','world', 'pythion', 'list','comprehension']
length=[len(word) for word in words]
print(length)

## List comprehension with if and else block

#doub the number if it is even or else keep same

evenDoubt=[x**2 if x%2==0 else x for x in range(10)]

print(f"The even numbers numbers doiubled  : {evenDoubt}")

<class 'list'>
['vinod', 'kumar', '97045635', 98]
['kumar', '97045635']
['banana', 'apple', 'cherry', 'orange', 'mango']
['banana', 'grapes', 'apple', 'cherry', 'orange', 'mango']
mango
['banana', 'grapes', 'apple', 'cherry', 'orange']
3
2
Sorted List :--->['apple', 'banana', 'cherry', 'cherry', 'grapes', 'orange']
Reversed List :--->['orange', 'grapes', 'cherry', 'cherry', 'banana', 'apple']
----------------------------------

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
the fruit name is : orange
the fruit name is : grapes
the fruit name is : cherry
the fruit name is : cherry
the fruit name is : banana
the fruit name is : apple
1
2
3
4
5
6
7
8
9
The index of 1 is 0
The index of 2 is 1
The index of 3 is 2
The index of 4 is 3
The index of 5 is 4
The index of 6 is 5
The index of 7 is 6
The index of 8 is 7
The index of 9 is 8
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
-------------List Comprehension -------------
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Suare root of the numbers : [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
The even numbers numbers : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
----------Nested list comprehension ------------
[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [1, 'f'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [2, 'f'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [3, 'f'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [4, 'f'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e'], [5, 'f'], [6, 'a'], [6, 'b'], [6, 'c'], [6, 'd'], [6, 'e'], [6, 'f']]
[5, 5, 7, 4, 13]
The even numbers numbers doiubled  : [0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

# **This is all about SET  data Structure**

In [23]:
## SET

## You can create aset with {}  with values
my_set={1,2,3,4,5,6,6,5,7,8,8,9}
##Note: if you add duplicate values then it will take but whne you iterate the value or count the size set will ignore the duplicates
#ex: print the size
print(len(my_set))## size: 9

## create a Ste through constructior. with help of List or tupple
lst=[1,2,3,4,5,6,6,5,7,8,8,9]
my_set=set(lst)
print(len(my_set))## size: 9
print(my_set)##ignored duplicate elements

## Basics Operations Add or remove
my_emptSet=set();
for i in range(20):
  ##Add
  my_emptSet.add(i)

print(f"After adding the elements {my_emptSet}")
##Remove
my_emptSet.remove(17)
print(f"After remove the 17 element {my_emptSet}")

##trying to delete the element which is not in the Set
"""
KeyError                                  Traceback (most recent call last)
<ipython-input-20-b7e1d2035dde> in <cell line: 28>()
##my_emptSet.remove(27)
"""
## to avoid these kind of errors wwe use discorx methoid whihc iw;; delete the element if it exist or elsed dicord
my_emptSet.discard(27)
print(f"After remove the 17 element {my_emptSet}")

##Pop method
## remove the random element means first element from the Set

po1=my_emptSet.pop()
po2=my_emptSet.pop()
po3=my_emptSet.pop()
print("\n")
print(f"Pop 1 element {po1}")
print(f"Pop 2 element {po2}")
print(f"Pop 3 element {po3}")

##Clear the all the elemets

my_emptSet.clear()

print(len(my_emptSet))


##Set membership set

my_emptSet=set();
my_emptSet1=set();
for i in range(20):
  ##Add
  my_emptSet.add(i)

##Check the element is exit or not

for i in range(10,50,5):
    ##Add
    if(i in my_emptSet):
      my_emptSet1.add(i)
    else:
        my_emptSet.add(i)

print(my_emptSet)


print(my_emptSet1)

## Mathematical Operation

## Union

union_set=my_emptSet.union(my_emptSet1)

print(f"Union Set -->{union_set}")

##Intersection

intersection_set=my_emptSet.intersection(my_emptSet1)

print(f"Intercetion Set -->{intersection_set}")
print(type(intersection_set))
"""
 Note: Intersetion_update--> will keep the common elements and modify the original set
in our example Insertion method not changing the vbalues , instead returning the comon elemnst as new set
"""

## Differennce

diff_set=my_emptSet1.difference(my_emptSet)

print(my_emptSet)

print(my_emptSet1)
"""
Note:ste1.diff(set2)
so we are subtracting elemenst from set1 and returning the set1 not common elements, if it's therte
ex: set1= 1,2,3,4,5,6
set2 4,5,6,7,8,9
then set1.diff(set2)--> 1,2,3 only bcz 4,5,6 elements discordeer
if set2.diff(set1) then result is 7,8,9 bcz 4,5,6, are common so dicord
********* No change in original Sets *************************
"""
print(f"Difference Set -->{diff_set}")

## Symetric Diffrence

"""

Note: Common elements removed and return the by combiningthe  reminaing elements
ex: set1= 1,2,3,4,5,6
set2 4,5,6,7,8,9
then set1.diff(set2)--> 1,2,3,7,8,9 only bcz 4,5,6 elements discordeer
Henec, Apply the intersection (remove comon elements and then make union )
"""

symmetric_set=my_emptSet1.symmetric_difference(my_emptSet)

print(f"Symetric  Set -->{symmetric_set}")



print("\n")
print("## Set methods")
## Set methods
set1={3,2,1}
set2={1,2,3,4,5}

## is subest

print(set1.issubset(set2))## order is not  mandatory

print(set1.issuperset(set2))

9
9
{1, 2, 3, 4, 5, 6, 7, 8, 9}
After adding the elements {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
After remove the 17 element {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19}
After remove the 17 element {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19}


Pop 1 element 0
Pop 2 element 1
Pop 3 element 2
0
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45}
{10, 15}
Union Set -->{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45}
Intercetion Set -->{10, 15}
<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45}
{10, 15}
Difference Set -->set()
Symetric  Set -->{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45}


## Set methods
True
False

In [24]:
### Counting unique words in text

text= " in thos tutorial we are discussion about sets"
words=text.split();
## converst list of words into Set

unique_word=set(words)
print(f"The unique words--->{unique_word}")

print(f"The count of the unique words==>{len(unique_word)}")

The unique words--->{'are', 'thos', 'tutorial', 'discussion', 'about', 'we', 'sets', 'in'}
The count of the unique words==>8

# **Dictonaries Data Structures **

In [25]:
## Dictionaries
"""
Dictionaries are unordered collections of items. They store data in key-value pairs.
keys must be unique and immutable (Eg. Strings, numbers or tupples) while values can be any type

"""


##Creating an empty disctonary
empty_dict={}
print(type(empty_dict))
empty_dict=dict()
print(type(empty_dict))

student={
    "name": "Krishn",
    "age" : "35",
    "Phone ": 9875646,
    'grade' : 3,
    1:"hE IS ONE",
    1:"hE IS ONE1"
}

print(student)

## eRROR--> Single key is always use instead of multiple

## Accessing dictonary elements
graed=student['grade']
print(graed)
##Access using get method  provided by disctionary
phone=student.get("Phone","Not Available")## If key is not there then next statement will print
print(phone)

## Modify the disctionary elements
## Dictionary are mutable, so you can add , upadte or delete elements
print(student)

# adding new key
student['Address']="Hyderabad"
print(f"After adding new key: {student}")

## update

student[1]="First Grade"
print(f"After update the  key: {student}")

del student[1]
print(f"After delete the  key: {student}")

## Dictionary methods

keys=student.keys()
print(f"The keys from Studnet Dic: {keys}")

values=student.values();

print(f"The values from Studnet Dic: {values}")

for i in keys:
  print(f" The is : {i} and the value is {student.get(i)}")


items=student.items()# get the all key-value pairs

print(f" All the items {items}")

print("\n  Shallow copy section \n")

## Shallow copy

student_copy=student## COpying the dictonary

print(student_copy)

student["Section"]="B"

print(student_copy)

print(student)

## In normal copy, if we change the original disctionary
## then the respectuve dictionay alwo getting changed

stundet_copy1=student.copy()## Wil create a separet memeory and it's not impacting on the exiting dict

print(stundet_copy1)

print(student)

student["Branch"]="CSE"

print(stundet_copy1)

print(student)

print(type(stundet_copy1))

## Iterate the Dic

for key,val in student.items():
  print(f" The Key is : {key} and the value is:  {val}")



## Nested Dictionaries

students={
    "student1": {
        "name": "Krishn",
        "age": 32,
        "place": "Hyd"
    },
    "student2": {
        "name": "Peter",
        "age": 35,
        "place": "Delhi"
    }
}

print("Nested loop of Dictionary \n")

##Iterate the nested Dic

for student_id, Stud_info in students.items():
  print(f" The Studnet ID : {student_id}")
  for key, val in Stud_info.items():
      print(f" Key : {key} and the value is : {val}")



## Comprehensions
## here we can write the code in simplar format

numbersDic={i:i**2 for i in range(50)}## here we are contsrtcting the Dictonary with for loop in single line of code.
print(numbersDic)

print("\n double the even numbers only")

evenNusDec={ i: i**2 if i%2==0 else i for i in range(20)}


print(evenNusDec)

## use the dictionary to count the frequency of the list

lst=[1,2,2,3,3,4,5,6,6,6,6,7,7,7,4,4,4]
freqDic={}
for num in lst:
  if  num in freqDic:
    freqDic[num]+=1
  else:
    freqDic[num]=1

print(freqDic)

## Merged Dictionaries
dic1={
    "a":1,
    "b":2,
    "c":3
}

dic2={
    "c":4,
    "d":5,
    "e":6
}

mered_dic={**dic1,**dic2}

print("=================================================Merged dictionaries\n=============================")

print(mered_dic)

<class 'dict'>
<class 'dict'>
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 1: 'hE IS ONE1'}
3
Not Available
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 1: 'hE IS ONE1'}
After adding new key: {'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 1: 'hE IS ONE1', 'Address': 'Hyderabad'}
After update the  key: {'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 1: 'First Grade', 'Address': 'Hyderabad'}
After delete the  key: {'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad'}
The keys from Studnet Dic: dict_keys(['name', 'age', 'Phone ', 'grade', 'Address'])
The values from Studnet Dic: dict_values(['Krishn', '35', 9875646, 3, 'Hyderabad'])
 The is : name and the value is Krishn
 The is : age and the value is 35
 The is : Phone  and the value is 9875646
 The is : grade and the value is 3
 The is : Address and the value is Hyderabad
 All the items dict_items([('name', 'Krishn'), ('age', '35'), ('Phone ', 9875646), ('grade', 3), ('Address', 'Hyderabad')])

  Shallow copy section

{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B'}
{'name': 'Krishn', 'age': '35', 'Phone ': 9875646, 'grade': 3, 'Address': 'Hyderabad', 'Section': 'B', 'Branch': 'CSE'}
<class 'dict'>
 The Key is : name and the value is:  Krishn
 The Key is : age and the value is:  35
 The Key is : Phone  and the value is:  9875646
 The Key is : grade and the value is:  3
 The Key is : Address and the value is:  Hyderabad
 The Key is : Section and the value is:  B
 The Key is : Branch and the value is:  CSE
Nested loop of Dictionary

 The Studnet ID : student1
 Key : name and the value is : Krishn
 Key : age and the value is : 32
 Key : place and the value is : Hyd
 The Studnet ID : student2
 Key : name and the value is : Peter
 Key : age and the value is : 35
 Key : place and the value is : Delhi
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401}

 double the even numbers only
{0: 0, 1: 1, 2: 4, 3: 3, 4: 16, 5: 5, 6: 36, 7: 7, 8: 64, 9: 9, 10: 100, 11: 11, 12: 144, 13: 13, 14: 196, 15: 15, 16: 256, 17: 17, 18: 324, 19: 19}
{1: 1, 2: 2, 3: 2, 4: 4, 5: 1, 6: 4, 7: 3}
=================================================Merged dictionaries
=============================
{'a': 1, 'b': 2, 'c': 4, 'd': 5, 'e': 6}

# **Tupples Data Structures**

In [26]:

## Tupples
##Tuple sare ordered collection of items that are immutable. They are similar to list, but their immutability makes them different


empty_tuple=();
print(type(empty_tuple))
tpl=tuple()

print(type(tpl))

# create tuple with list
my_tuple=tuple([1,2,3,4,5,6,6])
print(my_tuple)
tempLst=list();
for i in range(10):
  tempLst.append(i)

numbers_tuple=tuple(tempLst)

print(my_tuple)

## We can mix diffrenet type of data
mix_tuple=("Krishn",1,2090.46,True)
print(mix_tuple)


## Access the Tuple elemets
print(numbers_tuple[9])##Prin tghe specific index number

print(numbers_tuple[5:9])## Print the sub set of tuples index 5 and last index-1

print(numbers_tuple[::])## No start or end index and no step so printing default tuple

print(numbers_tuple[::-1])## reverse of the tuple step by 1

print(numbers_tuple[::-2])## reverse of the tuple step by 2

## Tuple Operations

##NUmbwers + Mizxed tuples--> COncatination

concat_tuple=mix_tuple+numbers_tuple## It will give new tuple
print(f"Before multiplication Tuple  ======: {concat_tuple}")
print(f"after  multiplication Tuple =======: {concat_tuple*3}")## We are appending 3 times (means 3 times)
print("\n")

## Immutable nature of tupples
"""
Once you created the tuple we can't change means tuple=(1,2,3,4,5)
after then if we try to change th tuple values at any index then it will trow error
ex: tuple[0]="krihsn" // error
in this case, we can copnvert tupple to lst anbdmodify the lst and reconvert to tuple

"""

## Tuple Methods

print(numbers_tuple.count(1))# Coun the values

print(numbers_tuple.index(3))## It return the first occuracne of the indexd of the element


## Packing and unpacking tuple
packed_tuple=1,"hello",3.14
print(packed_tuple)
## unpacked tupples
a,b,c=packed_tuple
print(a)
print(b)
print(c)

## unpacking with * (star)

first,second,third,*fourth=numbers_tuple;
print(f"the value in first variable is : {first} and the type of the variable is {type(first)}")
print(f"the value in fourth variable is : {fourth} and the type of the variable is {type(fourth)}")

## Nested Tuples

nested_lst=[[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]## List nested

"""
Slicing is nothing but the subtract the elements from the main List
"""
## want to prin the Hello, 3.14  so

print(nested_lst[2][1:3])## return type is List

##Create Tuple with nested List
nested_tuple=tuple(nested_lst)
print("without iteration printing tuple---->")
print(nested_tuple)

print("without iteration printing tuple---->")

## Iterating nested tuples

print("With iteration printing tuple---->")
count=0
for subTuple in nested_tuple:
  print(f"At the index of {count}")
  count+=1
  for item in subTuple:
    print(item, end=" ")
    print("")

print("With iteration printing tuple---->")

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 6)
(1, 2, 3, 4, 5, 6, 6)
('Krishn', 1, 2090.46, True)
9
(5, 6, 7, 8)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)
(9, 7, 5, 3, 1)
Before multiplication Tuple  ======: ('Krishn', 1, 2090.46, True, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
after  multiplication Tuple =======: ('Krishn', 1, 2090.46, True, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Krishn', 1, 2090.46, True, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Krishn', 1, 2090.46, True, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)


1
3
(1, 'hello', 3.14)
1
hello
3.14
the value in first variable is : 0 and the type of the variable is <class 'int'>
the value in fourth variable is : [3, 4, 5, 6, 7, 8, 9] and the type of the variable is <class 'list'>
['hello', 3.14]
without iteration printing tuple---->
([1, 2, 3, 4], [6, 7, 8, 9], [1, 'hello', 3.14, 'c'])
without iteration printing tuple---->
With iteration printing tuple---->
At the index of 0
1
2
3
4
At the index of 1
6
7
8
9
At the index of 2
1
hello
3.14
c
With iteration printing tuple---->

In [27]:
## Functions

# **A function is a blockj of code that performs a specific task. Function help in organizing the code , reusing code and improving readbility.**

In [28]:
def function_name(params):
  """ DOC string"""## Comments
  ##Function Body
  ## return expression

def checkEvenOrOdd(num):
  if num%2==0:
    return "Even"
  else:
    return "Odd"

##checkEvenOrOdd(47)

## default params

def greet(name="Guest"):
  return f"Welcome  {name}"


##variable length Arugmets
##Positional and keywodf arguments

def print_params(*agrs):
  ##If we are not sure aboutthe number of
  ## parameters then we use positional arguments
  for number in agrs:
    print(number, end="\n")
    print()
##print_params(1,2,3,4,5,6,7,8,9,"Krishn")

##Keyword arguments
def print_details(**kwargs):
  for key,val in kwargs.items():
    print(f"Key :  {key} and value s: {val}")

##print_details(name="Krishn",age=32, country="India")
dict_temp={
    "name":"krishn",
    "age": 35
}
##print_details(**dict_temp)## when we needt o passs th dictionary to kwargs as parameter

## Combine Position and keyword args
def print_details(*args,**kwargs):
  for val in args:
    print(f"Postions arguments are : {val}")
  for key,val in kwargs.items():
    print(f"The Keyword arguments data key : {key} and value is : {val}")
lst=(1,2,3,4,5,6,7,8,9,"Krishn")
##print_details(1,2,3,4,5,6,7,8,9,"Krishn",**dict_temp)

# Return Statements
## Function always return somethings
## multiple returns
def multify(a,b):
  return a**b, a%b
multify(2,5)

## Temperature Conversion
def convert_temperature(temp,unit):
  """This function converts temperature between celsius and Fahrenheit"""
  if unit=='C':
    return temp* 9/5+32 ## Celsius to Farenheit
  elif unit=='F':
    return (temp-32)* 5/9## Ferehneit to Celsius
  else:
    return None
convert_temperature(25,'C')
convert_temperature(77,'F')


## Password strenght Checker
def is_strong_password(password):
  """ This function checks if the password is string or not"""
  if len(password) <8:
    return False
  if not any(char.isdigit() for char in password):
    return False
  if not any( char.islower() for char in password):
    return False
  if not any( char.isupper() for char in password):
    return False
  if not any ( char in '@$_' for char in password):
    return False
  return True



def checkPassword(passwrd):
  res=is_strong_password(passwrd)
  print(f"{passwrd} , is ",end="")
  if(res):
    print("Met the Password Policy")
  else:
      print("Not met the Password Policy")
"""
checkPassword("vinod")
checkPassword("Vinod")
checkPassword("Vinod1")
checkPassword("VinodKumar1@")## Met the pssword
checkPassword("Vinod@")
checkPassword("vinod1@")

"""

## Calculate the Total Cost of Items in a shopping Cart
def calculate_total_cost(cart):
  total_cost=0
  for prdObj in cart:
     total_cost+=prdObj['price']*prdObj['quantity']
  return total_cost



## Examples Cart data
carrt_lst=[
    {'name':"apple",
     'price': 0.5,
     'quantity': 4
    },
     {'name':"orange",
     'price': 0.3,
     'quantity': 6
    },
     {'name':"grapes",
     'price': 0.7,
     'quantity': 3
    }
]

##calculate_total_cost(carrt_lst)

## Check is the String is Palidrome or not

def checkPalin(str):
  i=0
  j=len(str)-1
  while i<=j:
    if(str[i]!=str[j]):
      return False
    else:
      i+=1
      j-=1
  return True
## Another approach
def is_palindrom(str):
  str.lower().replace(" ","")
  return str==str[::-1]


##checkPalin("A man a plan a canal Panama")

##Calculate the factorila of a number usinrecursion

def factorial(n):
  ##base ccase
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return n*factorial(n-1)

##factorial(3)


# A function to read a file and count the frequency of each word.
def count_word_frequency(file_path):
  word_count={}
  with open(file_path,'r') as file:
    for line in file:
      words=line.split(" ")
      for word in words:
        word=word.lower().strip()
        if len(word)>0:
          word_count[word]=word_count.get(word,0)+1
    return word_count


count_word_frequency("/content/sample_data/sample.txt")

FileNotFoundError: [Errno 2] No such file or directory: '/content/sample_data/sample.txt'

# **Python Lambda Functions**
Lambda functions are small anonymous functions defined usingthe lambda key word. They can have any number of arguments but only one expression. They are commonly used for short operatiosn or as argument to higher-order functions.

In [ ]:
## Syntax
lambda arguments: expression

In [ ]:
def additions(a,b):
  return a+b

## Converstingto lambada expression
additions_lm=lambda a,b:a+b
print(additions_lm(12,12))

def evenNo(num):
  if num%2==0:
    return "even"
  else:
    return "Odd"

evenNo(701)

## With Lamdbda

even_or_odd= lambda num:num%2==0
even_or_odd(900)

##Map---> applies a function to all items in a list

numbers=[1,2,3,4,5,6,7,8,9]

print(list(map(lambda x:x**2,numbers)))
print(type(map(lambda x:x**2,numbers)))

The Map functions in python
The map() function applies a given function to all items in a an input list (or any other iterabke) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [ ]:
def square(n):
  return n**2

numbers=[1,2,3,4,5]
list(map(lambda x:x**2,numbers))

##Map mutiple iterables
numbers1=[1,2,3,4,5,6]
numbers2=[6,5,4,3,2,1]
##Combine two list
list(map(lambda x,y:x+y,numbers1,numbers2))##[7, 7, 7, 7, 7, 7]
## map() to convert a list of String sto integers
##use map to convert strings to integres
str_numbers=["1","2","3","4","5"]
int_numbers=list(map(int,str_numbers))
##print(int_numbers)##[1, 2, 3, 4, 5]
str_words_lower=["vinod","kumar","gummadi"]
str_words_Upper=list(map(str.upper,str_words_lower))
##print(str_words_Upper)##['VINOD', 'KUMAR', 'GUMMADI']

def get_name(person):
  return person['name']

persons_dic=[{
    "name": "krishn",
    "age" : 29,
    "address":"Hyd"
},{
    "name": "Denis",
    "age" : 49,
    "address":"Miami"
},{
    "name": "Escobar",
    "age" :31,
    "address":"Delhi"
}]

##list(map(get_name,persons_dic))##['krishn', 'Denis', 'Escobar']
Result_lst=list(map(lambda obj:obj['name'],persons_dic))
print(f"The names from Persons dictionariues are: {Result_lst}")
"""

The map() function is a powerful tool for applying transformations to iteratble data structuirtes.
 it cacan be used with regular fucntions , lambda and even mutiple iteratle ,
 providing a versatile approach to data processing in python.
 by understanding and utlizing map() m you can write more effieicent and readbalke code.
"""

# F**ilters() functions in python**

The filter() function constructs an iterator from elements of an ityerable for which a function returns true. It is used to filter out items from a list (or any other iterable ) based on a condition.

In [ ]:
numbers_lst=[1,2,3,4,5,6,7,8,9,10]
even_numbers=list(filter(lambda x:x%2==0,numbers_lst))
odd_numbers=list(filter(lambda x:x%2!=0,numbers_lst))

odd_numbers1=list(map(lambda x:x%2!=0,numbers_lst))
print(f"Even number are: {even_numbers}")
print(f"Odd number are: {odd_numbers}")
print(f"Odd number are with Map function: {odd_numbers1}")

# filter with a lambda funtcion and multiple conditions
persons_dic=[{
    "name": "krishn",
    "age" : 29,
    "address":"Hyd"
},{
    "name": "Denis",
    "age" : 49,
    "address":"Miami"
},{
    "name": "Escobar",
    "age" :31,
    "address":"Delhi"
}]
## filter the persons dictionary where age is greater than 30

ageGr30=list(filter(lambda personObj:personObj['age']>30,persons_dic))


ageGr301=list(map(lambda name:name['name'],filter(lambda personObj:personObj['age']>30,persons_dic)))
print(f"persons whos age is mnore than 30 are: {ageGr30}")
print(ageGr301)

In [ ]:
def generate_inverted_triangle(n):
  result=[]
  for i in range(n):
    temp=""
    for j in range(i+1):
        temp+="*"
    result.append(temp)
  return result[::-1]


print(generate_inverted_triangle(10))

*********** Imports and Packages ************  it's all about how we import packages

In [29]:
import math 
math.sqrt(16)


from math import sqrt

sqrt(64)

import numpy as np

from math import sqrt,pi

print(pi)
print(np.array([1,2,3,4,5,6]))

3.141592653589793
[1 2 3 4 5 6]

In [5]:
##import
import array
arr=array.array('i',[1,2,3,4,5,6])
print(arr)

# Random

import random
print(random.randint(1,100))

print(random.choice(['apple','orange','grape']))

array('i', [1, 2, 3, 4, 5, 6])
93
orange

In [ ]:
## File and directory access OS
import os
print(os.getcwd())
##os.makedirs('Test')
## open or create a file 
with open("text_tet.txt", 'w') as file:
    pass

c:\Users\vinodkumargu\OneDrive - HCL Technologies Ltd\Documents\PythonDSA_26Nov2024

In [4]:
## High level operations on files  and collections of files
import shutil
shutil.copyfile('text_tet.txt',"dest.txt")

'dest.txt'

In [17]:
## Data Serialization
import json 
data={
    'name': 'Krish',
    'age' :30,
    'address':'Pune'
}
json_str=json.dumps(data)

print(json_str)

print(type(json_str))

parsed_data=json.loads(json_str)

print(parsed_data)

print(type(parsed_data))

{"name": "Krish", "age": 30, "address": "Pune"}
<class 'str'>
{'name': 'Krish', 'age': 30, 'address': 'Pune'}
<class 'dict'>

In [21]:
## CSV
import csv
with open('example.csv', mode='w',newline='') as file:
    writer= csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['krishn','30'])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['krishn', '30']

In [24]:
## datatime
from datetime import  datetime,timedelta
now=datetime.now()
print(now)
yesterday=now-timedelta(days=1)
print(yesterday)

#time 
import time
print(time.time())

2024-11-26 21:50:55.242492
2024-11-25 21:50:55.242492
1732638055.2432075

In [25]:
##Regular expression s

import re
pattern=r'\d+'
text="the are 123 apples"
match=re.search(pattern,text)
print(match.group())

123

## File Operations ----> Read and Write operations

In [5]:
def printFile():
    with open ("dest.txt",'r') as file:
        for line in file:
            print(line)


printFile()
## write 
with open("dest.txt",'a',) as file:
    file.write("I'm adding one more line at the end ")
    file.write("I'm adding one more line at the end ")


printFile()

Hello how are you ?

I am fine

welcome to the course
Hello how are you ?

I am fine

welcome to the courseI'm adding one more line at the end I'm adding one more line at the end

In [6]:
## writing a list of lines to a file
lines=['First Line','Second line','Third Line','Fourth Line']
with open('text_tet.txt','a') as file:
    file.writelines(lines)

In [ ]:
## Reading and writre

with open("weclome.txt",'w+') as file:
    file.writelines("Hello , Team this is all about python \n")
    file.writelines(" we are very exicited to be parts of python")
    ##file.seek(0)
## read
    contents=file.read()
    print(contents)## WE won't get the anything bcz the curosr at end of the file
    ## bcz we written somethin in the file and cursor at the end 
    ##so we have to move curos to strat by using seek method or else writre separet thread to open the file in read mode and get the contents 

with open("weclome.txt",'r') as file:
    cont=file.read()
    print(cont)

Hello , Team this is all about python
 we are very exicited to be parts of python

In [2]:
## Listing file and directories
import os
items=os.listdir('.')
for item in items:
    print(item)

.git
Basics.ipynb
dest.txt
DSA_CRIO_Pyrthon.ipynb
DSA_CRIO_Python.ipynb
example.csv
SearchigTech.ipynb
Sortings.ipynb
Test
text_tet.txt
weclome.txt

In [3]:
## Checking if a path is a file or directory 

import os
path=".git"
if os.path.isfile(path):
    print(f" This is s file path------------>")
if os.path.isdir(path):
    print(f" This is a directory path--->")

 This is a directory path--->

************ Exception Handling **************

In [16]:
try:
    a=b
    mid=7/2*0
    arr=[1,2,3,4,5]
    print(arr[mid])
except NameError as ne:
    print(ne)
except ZeroDivisionError as ze:
    print(ze)

name 'b' is not defined

In [ ]:
## TrY-- except---> else
try:
    user_input=int(input("Please enter the number only"))
    div=10/user_input
    print(f"the division is --> {div}")
except ValueError:
    print(" Value error occured becuase your are not given numeric data")
except ZeroDivisionError:
    print(" Zero divison error , Please enter a number which is more than a zero-----")

else:
    print("hello")

 Zero divison error , Please enter a number which is more than a zero-----

In [26]:
## Try -- Except--- Else--- finally


try:
    user_input=int(input("Please enter the number only"))
    div=10/user_input
    print(f"the division is --> {div}")
except ValueError:
    print(" Value error occured becuase your are not given numeric data")
except ZeroDivisionError:
    print(" Zero divison error , Please enter a number which is more than a zero-----")

else:
    print("hello")
finally:
    print(" If exceptio occurs or not , I'm here to server you ")

the division is --> 0.8333333333333334
hello
 If exceptio occurs or not , I'm here to server you