In [2]:
import pandas as pd
import numpy as np
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv("ab_data.csv")
df.head()

   user_id timestamp      group landing_page  converted
0   851104   11:48.6    control     old_page          0
1   804228   01:45.2    control     old_page          0
2   661590   55:06.2  treatment     new_page          0
3   853541   28:03.1  treatment     new_page          0
4   864975   52:26.2    control     old_page          1

In [ ]:


conversion_labels = {0: 'Failed', 1: 'Success'}
group_labels = {'control': 'Control Group', 'treatment': 'Treatment Group'}
cross_tab = pd.crosstab(
    df['group'].map(group_labels),
    df['converted'].map(conversion_labels),
    margins=True,
    margins_name='Total Users'
)
cross_tab

converted      Failed  Success  Total Users
group
Control Group  129479    17723       147202
Test Group     129762    17514       147276
Total Users    259241    35237       294478

In [10]:
control=17723/(147202)
treatment=17514/(147276)

print(f"Control Group Conversion Rate: {control:.4f}")
print(f"Treatment Group Conversion Rate: {treatment:.4f}")

Control Group Conversion Rate: 0.1204
Treatment Group Conversion Rate: 0.1189

In [12]:
pd.crosstab(df['group'],df['landing_page'])

landing_page  new_page  old_page
group
control           1928    145274
treatment       145311      1965

In [13]:
sessions_counts=df["user_id"].value_counts(ascending=False)
sessions_counts.head(10)

user_id
635984    2
905609    2
895459    2
770459    2
692897    2
742690    2
657619    2
866294    2
676899    2
848305    2
Name: count, dtype: int64

In [14]:
muti_users=sessions_counts[sessions_counts>1].index

In [15]:
print(f"Number of users with multiple sessions: {len(muti_users)}")

Number of users with multiple sessions: 3894

In [19]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.4-cp313-cp313-win_amd64.whl.metadata (9.5 kB)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\vinod\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (2.2.1)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\vinod\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (1.15.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\vinod\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (2.2.3)
Collecting patsy>=0.5.6 (from statsmodels)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\vinod\appdata\roaming\python\python313\site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vinod\appdata\roaming\python\python313\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vinod\appdata\local\programs\python\python313\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vinod\appdata\local\programs\python\python313\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\vinod\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.16.0)
Downloading statsmodels-0.14.4-cp313-cp313-win_amd64.whl (9.8 MB)
   ---------------------------------------- 0.0/9.8 MB ? eta -:--:--
   -- ------------------------------------- 0.5/9.8 MB 3.8 MB/s eta 0:00:03
   ----- ---------------------------------- 1.3/9.8 MB 4.0 MB/s eta 0:00:03
   ------- -------------------------------- 1.8/9.8 MB 3.5 MB/s eta 0:00:03
   ----------- ---------------------------- 2.9/9.8 MB 4.0 MB/s eta 0:00:02
   ------------------ --------------------- 4.5/9.8 MB 4.7 MB/s eta 0:00:02
   ------------------------- -------------- 6.3/9.8 MB 5.4 MB/s eta 0:00:01
   --------------------------------- ------ 8.1/9.8 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 9.8/9.8 MB 6.5 MB/s eta 0:00:00
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-1.0.1 statsmodels-0.14.4

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
##power of test
from statsmodels.stats.power import TTestIndPower
power = TTestIndPower()
n_test=power.solve_power(nobs1=24,effect_size=0.8, alpha=0.05, power=None, alternative='two-sided')

print("Power : {:.3f}".format(n_test))

Power : 0.774

In [24]:
data = pd.DataFrame({
    'Gender': ['Male', 'Female', 'Male', 'Female', ...],
    'Preference': ['Tea', 'Coffee', 'Coffee', 'Tea', ...]
})

In [25]:
data

     Gender Preference
0      Male        Tea
1    Female     Coffee
2      Male     Coffee
3    Female        Tea
4  Ellipsis   Ellipsis

In [30]:
ct=pd.crosstab(data["Gender"],data["Preference"])

In [28]:
from scipy.stats import chi2_contingency

In [32]:
chi2, p, dof, expected = chi2_contingency(ct)

print(f"P-value: {p}")

print(f"dof-value: {dof}")

print(f"expected-value: {expected}")

P-value: 0.2872974951836458
dof-value: 4
expected-value: [[0.2 0.4 0.4]
 [0.4 0.8 0.8]
 [0.4 0.8 0.8]]